.recipe,
a {
    font-family: 'Times New Roman', Times, serif;
    color:darkgoldenrod;
    background-color: white;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}
img {
    height: auto;
    width: 650px;
}